<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content=
        "width=device-width, initial-scale=1.0" />
    <title>Recyclabot</title>

    <style>
        eye::before {
            content: "█         █";
            animation: blink infinite 4s;
        }

        @keyframes blink {
            0%, 20% {
                content: "█         █";
            }
            10% {
                content: "-         -";
            }
        }
    </style>
</head>

<body style="background-color:#161716;"><pre>
    <div style="text-align: center; color: orange">

        <h2>
              ___ ___ _____   _____ _      _   ___  ___ _____
              | _ \ __/ __\ \ / / __| |    /_\ | _ )/ _ \_   _|
            |   / _| (__ \ V / (__| |__ / _ \| _ \ (_) || |
            |_|_\___\___| |_| \___|____/_/ \_\___/\___/ |_|
            ===================================================
            Home of the magical recycling AI


            <eye></eye>

            ▄▄▄▄▄▄▄▄▄▄



            Submit a picture of an item you recently recycled (PNG only!)
            <form action = "/uploading" method = "POST" enctype = "multipart/form-data">
                <input type = file name = file accept="image/png" >
                <input type = submit value = Upload>
            </form>

            +-----------------------+
            |                       |
            |  <a href="/map">Check Global Stats</a>   |
            |                       |
            +-----------------------+
        </h2>
    </div>
</pre></body>